p{
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

li{
    font-family: 'Raleway', sans-serif;
}

ul{
    list-style-type: square;
    margin: 1rem 0rem;
}

a{
    color: #f6736d;
}

a:hover{
    color: orangered;
}

a:focus{
    color: orangered;
}

.full-width{
    width: 100%;
}

.full-height{
    height: 100%;
}

.max-full-width{
    max-width: 100%;
}

.color{
    color: #f6736d;
}

.white-font{
    color: white;
}

.container{
    padding: 10px 0px;
}

.restrict-width{
    max-width: 1200px;
}

.fa-external-link{
    padding-left: 3px;
    font-size: 14px;
}

.row{
    margin: 0px;
}

.card-body{
    padding: 15px;
}

.card-header{
    background-color: #f6736d;
    color: white;
    text-align: center;
    font-family: "Pathway Gothic One", cursive;
    border-bottom: none;
    font-size: 18px;
}

.card-block{
    padding: 10px;
    text-align: center;
}

.navbar-light .navbar-nav .nav-link.active{
    font-weight: bold;
    color: #f6736d;
}

.italic{
    font-style: italic;
}

.nav-item{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 24px;
    padding: 0px 10px;
}

.no-padding{
    padding: 0px;
}

.relative-position{
    position: relative;
}

.square-padding{
    padding-top: 25%;
    margin: 0px;
}

.image-square-padding{
    padding: 5px;
    margin: 0px;
}

.card-group div{
    width: 250px;
}

.auto-margin{
    margin: auto;
}

.text-center-align{
    text-align: center;
}

.float-right{
    float: right;
}

.display-block{
    display: block;
}

.fig-note{
    margin-top: 10px;
    font-size: 14px;
}

.forty-padding{
    padding: 40px 0px;
}

.five-margin{
    margin: 5px 0px;
}

.top-thirty-margin{
    margin-top: 30px;
}

.ten-margin{
    margin: 10px 0px;
}

.lh-thirtysix{
    line-height: 36px;
}

.quote{
    padding: 0px 10px;
    margin: 10px 0px;
    border-left: 3px solid #ddd;
    font-family: 'Courgette', cursive;
}

.orange-quote{
    font-family: 'Courgette', cursive;
    color:#f6736d;
}

.styled-quote {
    background: url('projects/herstoryImg/blockquote-firsthalf.png') top left no-repeat;
    padding-left: 30px;
    line-height: 18px;
    color: #575757;
    padding-top: 35px;
}
.styled-quote p {
    background: url('projects/herstoryImg/blockquote-secondhalf.png') bottom right no-repeat;
    padding-right: 10px;
    line-height: 24px;
    padding-bottom: 60px;
    color: #f6736d;
    font-family: 'Courgette', cursive;
    text-align: justify;
}

.orange-outline-btn{
    border: 1px solid #f6736d;
}

.full-image{
    width:100%;
    max-width: 100%;
    height: 100%;
    margin:auto;
    display: block;
}

.indented-para{
    text-indent: 30px;
}

.vertical-thirty{
    margin: 10px 30px;
}

.double-width-block{
    padding-bottom: 50%;
    width: 100%;
}

.equal-width-block{
    height: 100%;
    width: 100%;
}

#herstory-block{
    background-image: url('img/herstory.png');
}

#afridge-block{
    background-image: url('img/afridge.png');
}

#openproof-block{
    background-image: url('img/openproof.png');
}

#event-block {
    background-image: url('img/eventmap.png');
}

#newtype-block{
    background-image: url('img/anime.png');
}

#graphics-block{
    background-image: url('img/graphics.png');
}

#herstory-block, #afridge-block, #openproof-block,
#event-block, #newtype-block, #graphics-block{
    background-size: cover;
    transition: opacity 1s;
}

#herstory-block:hover, #afridge-block:hover, #openproof-block:hover,
#event-block:hover, #newtype-block:hover, #graphics-block:hover{
    opacity: 0.6;
}

.inner-block-left{
    float: left;
    width: 50%;
    height: 100%;
}

.inner-block-right{
    float: right;
    width: 50%;
    height: 100%;
}

div#blocks figure {
    transition: opacity .4s ease-in-out;
    position: relative;
}

div#blocks:hover figure:not(:hover) {
    opacity: 0.4;
}


.table-display{
    display: table;
}

.table-cell-display{
    display: table-cell;
    vertical-align: middle;
}


.bottom-right-text{
    position: absolute;
    bottom: 20px;
}

.bottom-text{
    position: absolute;
    bottom: 0px;
}

.project-name{
    font-family: 'Pathway Gothic One', sans-serif;
    color: white;
    font-size: 3.5vw;
}

.project-slogan{
    color: white;
    font-size: 1.2vw;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    padding: 15px;
}

.online-handle{
    font-family: 'Pathway Gothic One', sans-serif;
    color: #f6736d;
    font-size: 60px;
    line-height: 50px;
}

.contact-prefix{
    color: #f6736d;
    font-size: 20px;
    margin-right: 10px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
/* for indepoendent pages */

.project-title{
    font-size: 4vw;
    color: white;

}

.header-size{
    width: 100%;
    height: 300px;
}

.orange-hr{
    border-color: #f6736d;
}

.pink-block{
    background-color: #f9b8d9;
    height: calc(100% - 20px);
    margin: 10px 0px;
    padding: 20px;
    color: white;
}

.orange-block-keyword{
    color: #f6736d;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Pathway Gothic One', sans-serif;
    margin: 0px 0px 10px 0px;
}

.pink-block-sum{
    margin: 10px 0px;
}

.pink-border{
    border: 1px solid #f9b8d9;
    border-radius: 15px;
    padding: 15px;
    height: 100%;
}

.orange-border{
    border: 1px solid #f6736d;
    border-radius: 15px;
    padding: 15px;
    height: 100%;
}

.herstory-header{
    background-image: url("./projects/herstoryImg/herstory-header.png");
    background-size: cover;
}

.afridge-header{
    background-image: url("./projects/afridgeImg/afridge-header.png");
    background-size: cover;
}

.eventmap-header{
    background-image: url("./projects/eventmapImg/eventmap-header.png");
    background-size: cover;
}

.openproof-header{
    background-image: url("./projects/openproofImg/openproof-header.png");
    background-size: cover;
}

.graphics-header{
    background-image: url("./projects/graphicsImg/graphics-header.png");
    background-size: cover;
}

.anime-header{
    background-image: url("./projects/newtypeImg/newtype-header.png");
    background-size: cover;
}

.about-subtitle, .about-preblock{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 24px;
}

.about-preblock{
    margin-left: -30px;
}

.about-subtitle{
    color: black;
}

.grey-para{
    color: #7d7d7d;
}

.bold {
    font-weight: bold;
}

.event-name{
    color: #f6736d;
    font-weight: bold;
}

.project-page-title{
    text-align: right;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 24px;
}

.project-page-subtitle{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 24px;
    padding: 10px 0px;
}

.project-page-label{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 18px;
    padding: 10px 0px;
    color: #f6736d;
    text-align: center;
}

.left-bar-pink{
    position: absolute;
    width: 5px;
    background-color: #f9b8d9;
    height: 100%;
}

.right-bar-pink{
    position: absolute;
    right: 0px;
    width: 5px;
    background-color: #f9b8d9;
    height: 100%;
}

.right-context{
   margin-left: 20px;
}

.left-context{
    width: calc(100% - 20px);
}

.art-sample{
    height:300px;
    margin: auto;
    display: block;
}

.picture-sum{
    text-align: center;
}

.gallery-row{
    margin: 10px 0px;
}


.openproof-row{
    margin: 5px 15px;
    width: 100%;
}

.italic{
    font-style: italic;
}

figure{
    background: #fefefe;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    position: relative;
}

.coverFigure:after{
    position: absolute;
    content:"";
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    background-color:#f6736d;
    -webkit-transition: opacity 2s;
    transition: opacity 1s;
}


.coverFigure:hover:after{
    opacity: .8;
}

.gallery-cover-title{
    position: absolute;
    color: white;
    font-size: 60px;
    font-family: 'Pathway Gothic One', sans-serif;
    z-index: 1000;
    opacity: 0;
    -webkit-transition: opacity 2s;
    transition: opacity 1s;
}
.cover-title-a{
    left: 50%;
    margin:-45px 0 0 -120px;
    top: 50%;
}

.cover-title-b{
    left: 50%;
    margin-left: -125px;
    top: 42%;
}

.cover-title-c{
    left: 50%;
    margin-left: -87px;
    top: 77%;
}

.coverFigure:hover ~.gallery-cover-title{
    opacity: 1;
}

/* pinterest columnar */
.columns {
    column-width: 320px;
    column-gap: 15px;
    max-width: 1200px;
    margin: 20px auto;
}

.columns figure {
    background: #fefefe;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    transition: opacity .4s ease-in-out;
    display: inline-block;
    column-break-inside: avoid;
}

.columns figure img {
    width: 100%; height: auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.columns figure figcaption {
    font-size: .9rem;
    color: #444;
    line-height: 1.5;
}

.columns small {
    font-size: 1rem;
    float: right;
    text-transform: uppercase;
    color: #aaa;
}

.columns small a {
    color: #666;
    text-decoration: none;
    transition: .4s color;
}

/*div#columns:hover figure:not(:hover) {
    opacity: 0.4;
}*/

@media screen and (max-width: 1200px) {
    .columns { column-gap: 0px; }
    .columns figure { width: 100%; }
}